@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito Sans', sans-serif;
}


/*-----------TOP-BAR START-------------*/
.top-bar{
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;  
}
.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    display: flex;
}
ul{
    list-style: none;
}
.logo{
    flex-basis: 30%;
    margin: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.logo a{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
a{
    text-decoration: none;
    
}
.menu{
    flex-basis: 70%;
}
.nav{
    list-style: none;
    display: flex;
    font-size: 15px;
    margin: 30px;
    float: right;
    /* font-family: 'Nunito Sans', sans-serif;     ‍after add this font family "Drop Down" broken */
}
.nav li{

    margin: 15px; 
}
.nav li a{
    color: white;
}
/*-----------TOP BAR END-----------*/




/*-----------STYLE START*---------*/
.style{
    background-image: url(img/hero-bg.jpg); 
    /* height: 100vh;
    position:relative;
    top:0;
    left:0;
    width: 100vw; */
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-attachment: fixed;
}
.style::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.style-container{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0 15px;
}
.style h3{
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 30px;
    padding: 10px 30px;
    margin-bottom: 30px;
    border-radius: 50px;
}
.style h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700px;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
}
.style h2{
    font-size: 28px;
    color: #fff;
}
.style a{
    margin: 20px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 30px 9px 30px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
}
.style a:hover{
    background-color: rgb(226, 36, 36);
    color: #fff;
    transition: .9s;
}

.overlay{

}

/*------------STYLE END----------*/



/* -----SECTION ABOUT START------- */
.about{
margin-bottom: 40px;
}
.about-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.element{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    flex-basis: 100%;
}
.element h2{
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 20px;
    margin-top: 40px;
    background-color: rgb(252, 241, 241);
    color: #eb3959;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 20px;
}
.element h3{
    font-size: 40px;
    margin-top: 10px;
}
.element h3 b{
    color: #eb3959;
}
.element p{
    padding: 20px;
    font-size: 15px;
}



.extra-contant{
    display: flex; 
}
.left{
    width: 50%;
    float: left;
    text-align: center;
    /* padding-left: 350px; */
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    
}
.left p{
    
}
.right{
    width: 50%;
    float: left;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    
}
.right p{
    margin: 0 0 40px 0;
}
.button{
    font-size: 20px;
    padding: 8px 30px 9px 30px;
    border-radius: 50px;
    border: 2px solid rgb(247, 6, 6);
    color: rgb(247, 6, 6);
}
.button:hover{
    background-color: red;
    color: white;
    transition: .5s;
}
/* --------SECTION ABOUT END--------- */



/* --------SECTION SERVICE START--------- */
.services{
    padding-top: 40px;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.services-container-div h2{
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 20px;
    margin-top: 40px;
    background-color: rgb(252, 241, 241);
    color: #eb3959;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 20px;
}
.services-container-div h3{
    margin-top: 30px;
    font-size: 35px;
}
.services-container-div h3 span{
    color: #eb3959;
}
.services-container-div p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px; 
}



.services-card{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 14px; 
}

.card{ 
    background-color: rgb(254, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(250, 247, 247);
    box-shadow: 0px 0px 40px rgb(238, 233, 233);
}
.card:hover {
    background: #eb3959;
    transition-duration: 1s;
    color: white;
}
.card:hover .icon a{
    color:#fff;
}

.icon a{
    font-size: 48px;
    line-height: 1;
    color: #e43c5c;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}
.icon{
    margin-bottom: 20px;
}


.icon-head a{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    /* color: #070707;
    font-size: 20px;
    margin-top: 0px; */
}



.description{
    font-size: 15px;
    line-height: 28px;
    margin-top: 10px;
}


.icon-box{
    padding: 40px 30px;
    /* position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 0 35px 0 rgb(68 88 144 / 12%);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    text-align: center; */

    /* text-align: center;
    height: 300px; */
}

/* --------SECTION SERVICE END--------- */




/* ------FEATURES SECTION START--------- */

.features{
    margin-bottom: 20px;
}
.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}
.box1{
    background-color: rgb(254, 255, 255);
    margin: 10px;
    border-radius: 2px;
    border: 1px solid rgb(250, 247, 247);
    box-shadow: 0px 0px 30px rgb(238, 233, 233);
    padding: 20px;
}

a{
   color: #070707;
}
.box1 a:hover{
    color: red;
}



/* ------FEATURES SECTION END--------- */




/* -------cta section start---------- */

.cta {
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8)), url("../img/cta-bg.jpg") center center;
    background-size: cover;
    padding: 60px 0;
    text-align: center;
}
.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}
.cta p {
    color: #fff;
}
.cta .button {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}
.cta .button:hover {
    background: #e43c5c;
    border: 2px solid #e43c5c;
}

/* -------cta section end---------- */




/* --------PORTFOLIO START--------- */
.portfolio{
    padding-top: 40px;
    margin-bottom: 20px;
}

.container{
    width: 100%;
}

.portfolio-container-div{
    text-align: center;
}
.portfolio-container-div h2{
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 20px;
    margin-top: 40px;
    background-color: rgb(252, 241, 241);
    color: #eb3959;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 20px;
}
.portfolio-container-div h3{
    margin-top: 30px;
    font-size: 35px;
}
.portfolio-container-div h3 span{
    color: #eb3959;
}
.portfolio-container-div p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px; 
}




.portfolio-card{
    display: flex;
    justify-content: center;
}
.portfolio-card ul{
    display:flex;
}.portfolio-card ul li{
    padding: 10px 20px;
}
.portfolio-card ul li:hover a{
    background-color: #e43c5c;
    color:#ede9e9;
}
.portfolio-card ul li a{
    cursor: pointer;
    display: inline-block;
    padding: 7px 17px 9px 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition:.3s all  ease-in;
    border-radius: 50px;
}
.portfolio-card ul li a.active{
    background-color: #e43c5c;
    color:#ede9e9;
}
/* .portfolio-card2{
    cursor: pointer;
    display: inline-block;
    padding: 7px 17px 9px 17px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background:  #ede9e9;
    border-radius: 50px;
}
.portfolio-card2:hover{
    background-color: #e43c5c;
    color:#ede9e9;
} */
 /* portfolio items */
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.portfolio-item img{
    width: 100%;
}



/* Fortfolio item*/
.portfolio-item{
    position: relative;
}
.portfolio-info{
    position: absolute;
    background-color: rgba(0,0,0,.4);
    left:0;
    right:0;
    bottom:-50px;
    display: flex;
    justify-content: space-around;
    color:#fff;
    opacity: 0;
    transition: .5s all ease-in;

}
.portfolio-item:hover a{
color: red;
}
.portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom:0;
}

.portfolio-info a{
    color:#fff;
}

/* --------PORTFOLIO END--------- */



/* ------SECTION pricing START------- */

.pricing{
    width: 100%;
}

.container{
    text-align: center;
}

.section-title{

}
.section-title h2{
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 20px;
    margin-top: 40px;
    background-color: rgb(252, 241, 241);
    color: #eb3959;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 20px;
}
.section-title h3{
    margin-top: 30px;
    font-size: 35px;
}
.section-title h3 span{
    color: #eb3959;
}
.section-title p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px; 
    font-weight: 600px;
}


.three-box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.box-style{
    padding: 40px 100px 0px 100px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid #f9f9f9;
    margin: 10px;
    font-size: 14px;
}
/* .three-box-first{
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid #f9f9f9;
    margin-right: 10px;
}

.three-box-second{
    padding: 0px 50px 0px 50px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fa0b0b;
    
}
.three-box-third{
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid #f9f9f9;
    margin-left: 10px;
} */

.box-style h3{
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #493c3e;
}
.box-style h4{
    font-size: 42px;
    color: #e43c5c;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}
.box-style h4 span{
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.box-style ul .na {
    color: #ccc;
    text-decoration: line-through;
}
.box-style ul li {
    padding-bottom: 16px
}
.btn-buy{
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-bottom: 10px;
    border: 2px solid #e43c5c;
    color: #e43c5c;
}
.btn-buy:hover {
    background: #e43c5c;
    border: 2px solid #e43c5c;
    color: #f9f9f9;
}




.box-style-recommended{
    padding: 10px 100px 0px 100px;
    border: 2px solid #fa0b0b;

}
.recommended{
    font-size: 14px;
    letter-spacing: 2px;
    padding: 8px 20px;
    /* margin-top: 40px; */
    background-color: rgb(252, 241, 241);
    color: #eb3959;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 20px;
}
.icon-box-recommended h3{
    margin-top: 20px;
}
.box-style-recommended .btn-buy{
    /* border: 2px solid #e43c5c; */
    background-color: #ee4665;
    color: #f9f9f9;
}
.box-style-recommended .btn-buy:hover{
    background: #e43c5c;
    border: 2px solid #e43c5c;
    color: #f9f9f9;
}
/* ------SECTION pricing END------- */



/* ------F.A.Q Section ‍start-------- */
.faq {
    padding: 60px 0;
  }
  .faq .faq-list {
    padding: 0;
    list-style: none;
  }
  .faq .faq-list li {
    border-bottom: 1px solid #f1eeef;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .faq .faq-list .question {
    display: block;
    position: relative;
    font-family: #e43c5c;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    color: #d01d3f;
    transition: 0.3s;
  }

  /* ------F.A.Q Section end-------- */